@import "tailwindcss";

@font-face {
  font-family: Pixelmon;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/Pixemon.ttf");
}

#root {
  --primary: #000000;
  --secondary: #f9f9f9;
  width: 100%;
  text-align: center;
}

body {
  font-family: "Pixelmon", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
}